<form id="userForm" name="userForm" ng-submit="submitUser()" class="row" novalidate ng-hide="isShow">
  <p ng-show="response">{{response}}</p>
  <table>
    <tr>
      <td>
        <label for="firstName">FirstName</label>
      </td>
      <td>
        <input type="text" name="firstName" id="firstName" value="{{user.first_name}}" ng-model="formData.first_name" required>
      </td>
    </tr>

    <tr>
      <td>
        <label for="lastName">LastName</label>
      </td>
      <td>
        <input name="lastName" type="text" id="lastName" value="{{user.last_name}}" ng-model="formData.last_name" required>
      </td>
    </tr>

    <tr>
      <td>
        <label for="gender">Gender</label>
      </td>
      <td>
        <select name="gender" id="gender" ng-model="formData.gender" required>
          <option value="male">男</option>
          <option value="female">女</option>
          <option value="others">其他</option>
        </select>
      </td>
    </tr>

    <tr>
      <td>
        <label for="age">Age</label>
      </td>
      <td>

        <input name="age" type="number" id="age" value="{{user.age}}" ng-model="formData.age" min="0" required>
      </td>
    </tr>

    <tr>
      <td>
        <label for="country">Country</label>
      </td>
      <td>
        <input name="country" type="text" id="country" value="{{user.address.country}}" ng-model="formData.address.country">
      </td>
    </tr>

    <tr>
      <td>
        <label for="address_1">Address_1</label>
      </td>
      <td>
        <input name="address_1" type="text" id="address_1" value="{{user.address.address_1}}" ng-model="formData.address.address_1">
      </td>
    </tr>

    <tr>
      <td>
        <label for="address_2">Address_2</label>
      </td>
      <td>
        <input name="address_2" type="text" id="address_2" value="{{user.address.address_2}}" ng-model="formData.address.address_2">
      </td>
    </tr>

    <tr>
      <td>
        <input type="submit" name="" id="" value="Submit">
      </td>
      <td>
        <button type="button" ng-click="isShow=true">Back</button>
        <button type="reset">Reset</button>
      </td>
    </tr>
  </table>
</form>