<input type="hidden" id="userId" value="<%= params[:id] %>">
<div class="container">
  <h1>User</h1>
  <div class="row" ng-controller="UsersEditController">
    <table class="col-md-12" ng-show="isShow">
      <tr>
        <td>FirstName</td>
        <td>{{user.first_name}}</td>
      </tr>

      <tr>
        <td>LastName</td>
        <td>{{user.last_name}}</td>
      </tr>

      <tr>
        <td>Gender</td>
        <td>{{user.gender}}</td>
      </tr>

      <tr>
        <td >Age</td>
        <td>{{user.age}}</td>
      </tr>

      <tr>
        <td>Country</td>
        <td>{{user.address.country}}</td>
      </tr>

      <tr>
        <td>Address_1</td>
        <td>{{user.address.address_1}}</td>
      </tr>

      <tr>
        <td>Address_2</td>
        <td>{{user.address.address_2}}</td>
      </tr>
      <tr>
        <td>
          <button ng-click="isShow=false">Edit</button>
        </td>
      </tr>
    </table>
    <div user-form></div>
  </div>
</div>