// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#userForm {
  .ng-invalid {
    background-color: rgb(255, 159, 159)
  }
}