<!DOCTYPE html>
<html>
  <head>
    <title>Onboarding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div ng-app="onboarding">
      <%= yield %>
    </div>
  </body>
</html>
